---
title: Gallery
category: "Gallery"
---

{%- assign rowsize = 4 %}
{%- assign images = site.static_files | where: "gallery_full", true -%}
{%- assign nrows = images.size | minus: 1 | divided_by: rowsize | plus: 1 -%}

{% for i in (1..nrows) %}
  <div class="row">
    {%- assign offset = i | minus: 1 | times: rowsize -%}
    {% for img in images offset: offset limit: rowsize %}
      <a href="{{img.path}}" data-toggle="lightbox" data-gallery="gallery" class="col-sm-3">
        <img src="{{site.baseurl}}/gallery/thumb/{{img.basename}}.jpg" class="img-responsive">
      </a>
    {% endfor %}
  </div>
{% endfor %}

{%- assign rowsize = nil %}
{%- assign images = nil -%}
{%- assign nrows = nil -%}
{%- assign offset = nil -%}
