---
layout: headerfooter
title: ilastik
tagline: the interactive learning and segmentation toolkit
category: Home
---
{% include navbar.html %}

<div class="row">
  <div class="span7 offset2">
    <div class="page-header">
      <img src="/assets/ilastik-logo.png" alt="ilastik"
	   class="pull-left" id="main-logo">
      <h1>{{ page.title }} {% if page.tagline %} <br /> <small>{{ page.tagline }}</small>{% endif %}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="span5 offset3">
    <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
      <div class="carousel-inner">
	<div class="item active"><!-- class of active since it's the first item -->
	  <img src="/assets/img/slide-1.png" alt="" />
	  <div class="carousel-caption">
	    <h4>Carving</h4>
            <p>Interactive 3D Segmentation</p>
	  </div>
	</div>
	<div class="item">
	  <img src="/assets/img/slide-2.png" alt="" />
	  <div class="carousel-caption">
	    <h4>Pixel Classification</h4>
            <p>Classifying Cell Nuclei</p>
	  </div>
	</div>
	<div class="item">
	  <img src="/assets/img/slide-3.png" alt="" />
	  <div class="carousel-caption">
	    <h4>Pixel Classification</h4>
            <p>Classifying Membrane Boundaries</p>
	  </div>
	</div>
      </div><!-- /.carousel-inner -->
      <!--  Next and Previous controls below
	    href values must reference the id for this carousel -->
      <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
  </div>
</div>

<div class="row">
  <div class="span3 offset1" align="center">
    <p>
      <span class="icon-stack icon-4x">
	<i class="icon-check-empty icon-stack-base"></i>
	<i class="icon-download-alt icon-4x"></i>
      </span>
    </p>

    <h4>
    <a href="/download.html">Install ilastik</a></h4>
    <p>Ready-made packages are available for Linux, Mac, and Windows.</p>
  </div>

  <div class="span3" align="center">
    <p>
      <span class="icon-stack icon-4x">
	<i class="icon-check-empty icon-stack-base"></i>
	<i class="icon-keyboard icon-4x"></i>
      </span>
    </p>

    <h4>
    <a href=#>Take the tutorial</a></h4>
    <p>Use one of our demo datasets to learn what ilastik can do for
    you. FIXME: WRITE THIS TUTORIAL!</p>
  </div>

  <div class="span3" align="center">
    <p>
      <span class="icon-stack icon-4x">
	<i class="icon-check-empty icon-stack-base"></i>
	<i class="icon-book icon-4x"></i>
      </span>
    </p>

    <h4>
    <a href="/documentation/index.html">Learn more</a></h4>
    <p>ilastik comes with an extensive user manual and FAQs.</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <hr />
  </div>
</div>

<div class="row">
  <div class="offset3 span5">
    <p>
      <span class="icon-stack icon-4x pull-left">
	<i class="icon-circle icon-stack-base"></i>
	<i class="icon-comments icon-light"></i>
      </span>

    <h4>
    <a href="/community.html">Get in touch</a></h4>
      Discuss with other users on our mailing lists or
      contact the friendly ilastik team directly.</p>
  </div>

</div>
