---
layout: headerfooter
title: ilastik
tagline: the interactive learning and segmentation toolkit
category: Home
---
{% include navbar.html %}

<div class="row">
  <div class="col-sm-7 col-sm-offset-2">
    <div class="page-header">
      <img src="/assets/ilastik-logo.png" alt="ilastik"
	   class="pull-left" id="main-logo">
      <h1>{{ page.title }} {% if page.tagline %} <br /> <small>{{ page.tagline }}</small>{% endif %}</h1>
    </div>
  </div>
</div>

<div class="row">
 <div class="col-sm-7 col-sm-offset-2">

  <p>

      ilastik is a simple, user-friendly tool for <b>interactive image classification, 
      segmentation and analysis</b>. It is built as a modular software framework, which 
      currently has <a href="/documentation/index.html">workflows</a> for automated (supervised) pixel- and object-level classification, 
      automated and semi-automated object tracking, semi-automated segmentation
      and object counting without detection.
      Most analysis operations are performed <b>lazily</b>, which enables targeted interactive 
      processing of data subvolumes, followed by complete volume analysis in offline batch mode. Using it
      requires no experience in image processing.
    </p>
 </div>
</div>

<div class="row">
  <div class="col-sm-5 col-sm-offset-3">
  
<div id="ilastik-screenshots-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <!-- SLIDE 1 -->
    <div class="item active">
      <img src="/assets/img/carousel/crop_training1.jpg" alt="" />
      <div class="carousel-caption">
        <h4>Pixel Classification</h4>
        <p>Train using simple brush strokes</p>
      </div>
    </div>
    <!-- SLIDE 2 -->
    <div class="item">
      <img src="/assets/img/carousel/crop_training3.jpg" alt="" />
      <div class="carousel-caption">
        <h4>Pixel Classification</h4>
        <p>Semantic segmentation using predicted class probabilities</p>
      </div>
    </div>
    <!-- SLIDE 3 -->
    <div class="item">
      <img src="/assets/img/carousel/crop_oc_prediction1.jpg" alt="" />
      <div class="carousel-caption">
        <h4>Object classification</h4>
        <p>Predict the semantic class of objects</p>
      </div>
    </div>
    <!-- SLIDE 4 -->
    <div class="item">
      <img src="/assets/img/carousel/crop_labeling2.jpg" alt="" />
      <div class="carousel-caption">
        <h4>Carving</h4>
        <p>Extract objects from a 3D volume semi-automatically</p>
      </div>
    </div>
    <!-- SLIDE 5 -->
    <div class="item">
      <img src="/assets/img/carousel/crop_feature_selection3.jpg" alt="" />
      <div class="carousel-caption">
        <h4>Pixel Features</h4>
        <p>Select from a simple set of predefined image features</p>
      </div>
    </div>
    <!-- SLIDE 6 -->
    <div class="item">
      <img src="/assets/img/carousel/crop_blue_totorial8.jpg" alt="" />
      <div class="carousel-caption">
        <h4>Counting</h4>
        <p>Count densely packed cells</p>
      </div>
    </div>
    <!-- SLIDE 7 -->
    <div class="item">
      <img src="/assets/img/carousel/crop_25_chaingraph-tracking-3d.jpg" alt="" />
      <div class="carousel-caption">
        <h4>Tracking</h4>
        <p>Automatic and manual tracking of dividing cells (2D+3D)</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <a class="left carousel-control"  href="#ilastik-screenshots-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#ilastik-screenshots-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
</br>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-sm-offset-1" align="center">
    <p>
      <span class="fa-stack fa-4x">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-download fa-stack-1x"></i>
      </span>
    </p>
    <h4>
    <a href="/download.html">Install ilastik</a></h4>
    <p>Ready-made packages are available for Linux, Mac, and Windows.</p>
  </div>
  <div class="col-sm-3" align="center">
    <p>
      <span class="fa-stack fa-4x">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-book fa-stack-1x"></i>
      </span>
    </p>
    <h4>
    <a href="/documentation/index.html">Read documentation</a></h4>
    <p>ilastik comes with an extensive user manual.</p>
  </div>
  <div class="col-sm-3" align="center">
    <p>
      <span class="fa-stack fa-4x">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-keyboard-o fa-stack-1x"></i>
      </span>
    </p>
    <h4>
    <a href="/development.html">Contribute</a></h4>
    <p>View developer documentation and API docs. Report bugs and request features.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-sm-offset-1" align="center">
    <p>
      <span class="fa fa-stack fa-4x">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-quote-left fa-stack-1x"></i>
      </span>
    </p>
    <h4><a href="#">News</a></h4>
  </div>
  <div class="col-sm-6" align="left">
     <h4><a href="/documentation/fiji_export/plugin">FIJI plugin for import/export with ilastik!</a></h4>
    <p>
    	You can now export your data from FIJI directly into ilastik favorite hdf5 format and, conversely, you can also load ilastik results into FIJI for post-processing. Thanks to the FIJI 
team for their help and hackathon hospitality!
    </p>
    <h4><a href="/download.html">A new release 1.2.2 is now available!</a></h4>
    <p>
        We are happy to announce a new ilastik release, which includes many bug fixes and new features requested by our users. Detailed release notes can be found <a href="/release_notes/release_notes_1.2.2">here</a>.
    </p>
     
  </div>

<div class="row">
  <div class="col-sm-12">
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-3" align="center" >
    <p>
      <span class="fa fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-comments fa-inverse fa-stack-1x"></i>
      </span>
    </p>
  </div>
  <div class="col-sm-6">
    <h4><a href="/community.html">Get in touch</a></h4>
    <p>
      Discuss with other users on our mailing lists or
      contact the friendly ilastik team directly.
    </p>
  </div>
</div>

