---
layout: headerfooter
title: ilastik
tagline: the interactive learning and segmentation toolkit
category: Home
---
{% include navbar.html %}

<div class="row">
  <div class="span7 offset2">
    <div class="page-header">
      <img src="/assets/ilastik-logo.png" alt="ilastik"
	   class="pull-left" id="main-logo">
      <h1>{{ page.title }} {% if page.tagline %} <br /> <small>{{ page.tagline }}</small>{% endif %}</h1>
    </div>
  </div>
</div>

<div class="row">
 <div class="span5 offset3">
  <p>
      ilastik is a simple, user-friendly tool for <b>interactive image classification, 
      segmentation and analysis</b>. It is built as a modular software framework, which 
      currently has <a href="/documentation/index.html">workflows</a> for automated (supervised) pixel- and object-level classification, 
      automated and semi-automated object tracking, semi-automated segmentation
      and object counting without detection.
      Most analysis operations are performed <b>lazily</b>, which enables targeted interactive 
      processing of data subvolumes, followed by complete volume analysis in offline batch mode. Using it
      requires no experience in image processing.
    </p>
 </div>
</div>

<div class="row">
  <div class="span5 offset3">
    <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
      <div class="carousel-inner">

<!-- SLIDE 1 -->
<div class="item active"><!-- class of active since it's the first item -->
  <img src="/assets/img/carousel/crop_training1.jpg" alt="" />
  <div class="carousel-caption">
    <h4>Pixel Classification</h4>
        <p>Train using simple brush strokes</p>
  </div>
</div>
<!-- SLIDE 2 -->
<div class="item">
  <img src="/assets/img/carousel/crop_training3.jpg" alt="" />
  <div class="carousel-caption">
    <h4>Pixel Classification</h4>
        <p>Semantic segmentation using predicted class probabilities</p>
  </div>
</div>
<!-- SLIDE 3 -->
<div class="item">
  <img src="/assets/img/carousel/crop_oc_prediction1.jpg" alt="" />
  <div class="carousel-caption">
    <h4>Object classification</h4>
        <p>Predict the semantic class of objects</p>
  </div>
</div>
<!-- SLIDE 4 -->
<div class="item">
  <img src="/assets/img/carousel/crop_labeling2.jpg" alt="" />
  <div class="carousel-caption">
    <h4>Carving</h4>
        <p>Extract objects from a 3D volume semi-automatically</p>
  </div>
</div>
<!-- SLIDE 5 -->
<div class="item">
  <img src="/assets/img/carousel/crop_feature_selection3.jpg" alt="" />
  <div class="carousel-caption">
    <h4>Pixel Features</h4>
        <p>Select from a simple set of predefined image features</p>
  </div>
</div>
<!-- SLIDE 6 -->
<div class="item">
  <img src="/assets/img/carousel/crop_blue_totorial8.jpg" alt="" />
  <div class="carousel-caption">
    <h4>Counting</h4>
        <p>Count densely packed cells</p>
  </div>
</div>
<!-- SLIDE 7 -->
<div class="item">
  <img src="/assets/img/carousel/crop_25_chaingraph-tracking-3d.jpg" alt="" />
  <div class="carousel-caption">
    <h4>Tracking</h4>
        <p>Automatic and manual tracking of dividing cells (2D+3D)</p>
  </div>
</div>

      </div><!-- /.carousel-inner -->
      <!--  Next and Previous controls below
	    href values must reference the id for this carousel -->
      <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
  </div>
</div>

<div class="row">
  <div class="span3 offset1" align="center">
    <p>
      <span class="icon-stack icon-4x">
	<i class="icon-check-empty icon-stack-base"></i>
	<i class="icon-download-alt icon-4x"></i>
      </span>
    </p>

    <h4>
    <a href="/download.html">Install ilastik</a></h4>
    <p>Ready-made packages are available for Linux, Mac, and Windows.</p>
  </div>

  <div class="span3" align="center">
    <p>
      <span class="icon-stack icon-4x">
	<i class="icon-check-empty icon-stack-base"></i>
	<i class="icon-book icon-4x"></i>
      </span>
    </p>

    <h4>
    <a href="/documentation/index.html">Read documentation</a></h4>
    <p>ilastik comes with an extensive user manual.</p>
  </div>

  <div class="span3" align="center">
    <p>
      <span class="icon-stack icon-4x">
	<i class="icon-check-empty icon-stack-base"></i>
	<i class="icon-keyboard icon-4x"></i>
      </span>
    </p>

    <h4>
    <a href="/development.html">Contibute</a></h4>
    <p>View developer documentation and API docs. Report bugs and request features.</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <hr />
  </div>
</div>

<div class="row">
  <div class="offset3 span5">
    <p>
      <span class="icon-stack icon-4x pull-left">
	<i class="icon-circle icon-stack-base"></i>
	<i class="icon-comments icon-light"></i>
      </span>

    <h4>
    <a href="/community.html">Get in touch</a></h4>
      Discuss with other users on our mailing lists or
      contact the friendly ilastik team directly.</p>
  </div>

</div>
