<hr>

<footer>
  {% comment %}
    This badge is required for the Netlify open-source team account.
  {% endcomment %}
  {% if page.category == "Home" %}
    <div class="row" align="center">
      <div class="col-xs-12">
        <a href="https://www.netlify.com">
          <img src="https://www.netlify.com/img/global/badges/netlify-light.svg">
        </a>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="xol-xs-12">
      <small>&copy; 2010-{{ site.time | date: "%Y" }} <a href="mailto:team@ilastik.org">{{ site.author.name }}</a></small>
      <p class="pull-right"><a href="#">Back to top</a></p>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/assets/lightbox/ekko-lightbox.min.js"></script>

<script>
  $('#ilastik-screenshots-carousel').carousel({ interval: 5000 });

  $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
</script>

<script src="{{site.baseurl}}/javascripts/jquery.toc.js"></script>

<script>
  $(function() {
    $('#tocMain').toc({ showAlways: true, renderIn: '#renderIn' });
  });
</script>
