<nav class="navbar navbar-inverse navbar-fixed-top">
    
      <div class="container">
      <div class="navbar-header"><a class="navbar-brand" href="/index10.html">ilastik</a></div>
          
        <ul class="nav navbar-nav">
        <li {% if page.category == "Home" %} class="active" {% endif %}><a href="/index10.html">Home</a></li>
        <li {% if page.category == "About" %} class="active" {% endif %}><a href="/about.html">About</a></li>
        <li {% if page.category == "Download" %} class="active" {% endif %}><a href="/download.html">Download</a></li>
        <li {% if page.category == "Documentation" %} class="active" {% endif %}><a href="/documentation/index.html">Documentation</a></li>
        <li {% if page.category == "Development" %} class="active" {% endif %}><a href="/development.html">Development</a></li>
        <li {% if page.category == "Community" %} class="active" {% endif %}><a href="/community.html">Community</a></li>
      </ul>
      </div>
    
</nav> <!-- navbar -->

<!-------
    <div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
	  <div class="container">
       	  <a class="brand" href="/index10.html">ilastik</a>
	    <ul class="nav">
	    <li {% if page.category == "Home" %} class="active" {% endif %}><a href="/index10.html">Home</a></li>
	    <li {% if page.category == "About" %} class="active" {% endif %}><a href="/about.html">About</a></li>
	    <li {% if page.category == "Download" %} class="active" {% endif %}><a href="/download.html">Download</a></li>
	    <li {% if page.category == "Documentation" %} class="active" {% endif %}><a href="/documentation/index.html">Documentation</a></li>
	    <li {% if page.category == "Development" %} class="active" {% endif %}><a href="/development.html">Development</a></li>
	    <li {% if page.category == "Community" %} class="active" {% endif %}><a href="/community.html">Community</a></li>
	  </ul>
	  </div>-->
	</div> <!-- navbar-inner -->
      </div> <!-- navbar -->
      

