{%- assign group_pages = site.pages | where: "group", include.group | sort: "weight" -%}

{% for curr in group_pages %}
  {%- assign active_class = "" -%}
  {%- assign toc_container = "" -%}
  
  {%- if curr.url == page.url -%}
    {%- assign active_class = "active" -%}
    {%- capture toc_container -%}
      <div id="renderIn"></div>
    {%- endcapture -%}
  {%- endif -%}

  <li class="{{active_class}}">
    <a href="{{curr.url}}" class="{{active_class}}">{{curr.title}}</a>
    {{toc_container}}
  </li>
{% endfor %}

{%- assign group_pages = nil -%}
{%- assign active_class = nil -%}
{%- assign toc_container = nil -%}
