h1, h2, h3, h4, h5, h6 {
    font-family: 'Istok Web', sans-serif;
}

.carousel {
  margin-bottom: 20px;
}

.carousel-caption {
    position: relative;
    text-align: center;
    background: black;
    margin: 0;
    padding: 12px 0 12px 0;
    left: 0;
    bottom: 0;
}

body {
    background: url('/assets/wild_oliva.png') repeat 0 0;
}

body > .container {
    background: white;
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.docunav {
    padding: 19px 6px 19px 6px;
}
.docunav > li > a {
    padding: 0 13px 0 13px;
}
.docunav > li.active > a {
    background: #0088CC;
    color: #ffffff;
    margin: 0;
}

.nav > li.disabled.nav-header {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.maruku_toc ul {
    list-style: disc !important;
}

.maruku_toc li {
    margin-bottom: 5px;
}

label{font-weight:normal !important}

.form-horizontal .control-label {
    text-align: left;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}

/* Handle offset for fixed position header */
.docs-contents h1, .docs-contents h2, .docs-contents h3 {
    margin-top: -51px;
    padding-top: 61px;
}

.header-link {
    visibility: hidden;
    margin-left: 0.5em;
}

h2:hover .header-link {
    visibility: visible;
}

.docs-contents .img-responsive {
    margin-top: 1em;
    margin-bottom: 1em;
}

.news-list {
  list-style-type: none;
}

.news-title {
  font-size: 1.5em;
}

.news-date {
  display: block;
}

.news-back {
  margin-top: 2em;
}

.news-frontpage {
  margin-top: 2em;
}

.social-panel {
  display:flex;
  justify-content:center
}

.social-link {
  height: 48px;
  margin-right: 8px;
}

.social-icon {
  flex: auto;
  width: 48px;
  height: 48px;
}

.cta {
  text-align: center;
}

.news-frontpage-badge {
  text-align: center;
}

.feature-card {
    margin-bottom: 7px;
}

.feature-header {
  font-weight: bold;
}

/*
 * Collapse the navbar on wider screens to avoid wrapping it's contents to the second row.
 * See https://stackoverflow.com/a/20249415.
 */
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin: 7.5px -15px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .navbar-text {
      float: none;
      margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
      display: block!important;
  }
  .collapsing {
      overflow: hidden!important;
  }
}

/* correct sizing on mobile devices */
iframe[src*=youtube] {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 8px;
}
