<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ilastik - {{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/lightbox/ekko-lightbox.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/ilastik.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Istok+Web">
  </head>
  <body>
    <div class="container">
      {% include navbar.html %}
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
    <script src="https://unpkg.com/lunr/lunr.min.js"></script>
    <script src="/assets/search.js" defer></script>>
    <script src="/assets/ilastik.js" defer></script>
  </body>
</html>
