<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ilastik - {{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/lightbox/ekko-lightbox.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/ilastik.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Istok+Web">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
  </head>
  <body>
    <div class="container">
      {% include navbar.html %}
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
    {% include analytics.html %}
    <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script>
    docsearch({
      apiKey: 'a1ffe0be610b8b72764b2c41af0e23de',
      indexName: 'ilastik',
      inputSelector: '#docsearch',
    });
    </script>
  </body>
</html>
